body, html {
    height: 100%;
    margin: 0;
}

.header {
    height: 10vh;
}

header{
    height: 10vh;
    margin: 0;
    min-width: 600px;
    background-color: #2a2a2a;
    text-align: center;
    color: #dbdbdb;
    font-family: monospace;
    font-size: 6em;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%; /* Центрирование по высоте */
}

.clock {
    background: white;
    color: black;
    font-size: 5em;
    margin-bottom: 20px; /* Отступ между часами и кнопкой */
}

.button {
    font-size: 1.5em;
    color: #fff;
    background-color: #6a93d1;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
}

.button:hover {
    background-color: #6a93FF;
    transform: translateY(-2px);
}

.button:active {
    background-color: #6a93d1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
}