.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 250px); /* 2 колонки по 100px */
  grid-template-rows: repeat(4, 90px);    /* 3 строки по 100px */
  gap: 10px; /* Пробел между ячейками */
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-text-positive{
    color: black;
}

.result-text-negative{
    color: red;
}
