.grid-item .select {
  position: relative;

  height: 50px; /* Переопределяем высоту */
  width: 200px;   /* Переопределяем ширину */

  padding: 13px;
  background-color: white;
  border: thin solid darkgray;
  border-radius: 4px;

}




