.grid-item .textField {
  position: relative;

  height: 27px; /* Переопределяем высоту */
  width: 170px;   /* Переопределяем ширину */

  padding: 13px;
  background-color: white;
  border: thin solid darkgray;
  border-radius: 4px;

}
