.middle .userInterfacePanel {
      display: flex;
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.userInput {
  flex: 1;
  background-color: white;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  overflow-y: auto;
  overflow-x: auto;

}

.userInputHistory {
  flex: 1;
  background-color: white;
  border-right: 1px solid darkgray;
  overflow-y: auto;
  overflow-x: auto;
}

.graphicSpot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%; /* Ширина элемента graphicSpot */
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
}

.returnButton {
  display: flex;
  height: 100%; /* Заполняет всю высоту экрана */
  margin: 0;
  width: 100%; /* Занимает 80% ширины контейнера */
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Плавные переходы при наведении */
  background: #FFFFFF;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid darkgray;
  text-align: center;
  text-decoration: none;
}
.returnButton:hover {
  background-color: #6a93FF;
  transform: translateY(-2px);
}

.returnButton:active {
  background-color: #6a93d1;
  transform: translateY(0);
}